body {
  color: rgb(134, 0, 0);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(110, 151, 177));
}

a {
  color: rgb(134, 0, 0);
  text-decoration: underline;
}

.profile-image {
  background-image: url("../img/k8square.jpg");
  background-size: cover;
  background-position: center;
  height: 35vh;
  border-radius: 4px 4px 0px 0px;
}

.jumbotron {
  background-color: rgb(255, 245, 136);
}

.about {
  border-radius: 0px 0px 4px 4px;
}

.hazy {
  color: rgb(218, 201, 108)
}

img {
  float: right;
  border-radius: 4px;
}

.projects img {
  height: 14vh;
}

.project {
  height: 16vh;
}

.panel-heading h3 {
  color: rgb(134, 0, 0);
}