body {
  color: rgb(134, 0, 0);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* background-color: rgb(104, 141, 156); */
}

a {
  color: rgb(134, 0, 0);
  text-decoration: underline;
}

.sidebar, .main, .about, .interests, .objectives {
  /* border: solid 1px rgb(134, 0, 0); */
}

.profile-image {
  background-image: url("../img/k8square.jpg");
  background-size: cover;
  background-position: center;
  height: 35vh;
  border-radius: 4px 4px 0px 0px;
}

.jumbotron {
  background-color: rgb(250, 235, 74);
}

.about {
  border-radius: 0px 0px 4px 4px;
}

.hazy {
  color: rgb(218, 201, 108)
}

img {
  float: right;
}

.projects img {
  height: 100px;
}