body {
  color: rgb(134, 0, 0);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(110, 151, 177));
}

a {
  color: rgb(134, 0, 0);
  text-decoration: underline;
}

.profile-image {
  /* position: fixed; */
  height: 35vh;
  overflow: hidden;
  /* border: solid 5px red; */
  /* object-fit: scale-down; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;  
}

.profile-image img {
  border-radius: 4px 4px 0px 0px;
  /* flex-shrink: 0;
  min-width: 100%;
  min-height: 100% */
  object-fit: cover;
  width: 108%;
  height: 108%;
}

.jumbotron {
  background-color: rgb(255, 245, 136);
}

.about {
  border-radius: 0px 0px 4px 4px;
}

.hazy {
  color: rgb(218, 201, 108)
}

img {
  float: right;
  border-radius: 4px;
  padding: 8px;
}

.projects img {
  max-width: 200px;
}

.panel-heading h3 {
  color: rgb(134, 0, 0);
}

.container {
  margin: auto;
  margin-top: 10vh;
}

.project {
  margin: 15px;
}

.projects {
  padding: 2% 5%;
}
